<p id="notice"><%= notice %></p>

<p>
  <b>Project Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Created on:</b>
  <%= @project.timestamp %>
</p>

<table>
  <tr>
    <th>User</th>
    <th>Project</th>
    <th>Status</th>
    <th>Assignee</th>
    <th>Created on:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.user %></td>
    <td><%= ticket.project %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.assignee %></td>
    <td><%= ticket.timestamp %></td>
   <!--
    <td><%= link_to 'Show', ticket %></td>
       <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
       <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
   
  </tr>
<% end %>
</table>



<%= link_to 'Report a ticket', new_ticket_path %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<!--<% form_for [@project, Ticket.new] do |f| %> 
  <p>
    <%= f.label :title, "Title" %><br />
    <%= f.text_field :title %><br />
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Create ticket" %>
  </p>
<% end %> -->	