<!-- WELCOME HEADER -->
<h2>Welcome to Bugtracker!</h2>
<% unless user_signed_in? %>
Please sign in to continue.
<%end%>
<br/>
<% if user_signed_in? -%>
<div>
	<%= link_to 'Administration', :controller => 'admin' %>
	<%= link_to 'Create New Project', new_project_path %>

</div>
<br />
<table class="tabled_view">

	<thead>
		<tr>
			<th>Project:</th>
			<th>Last ticket updated: </th>
			<th>On </th>
		</tr>
	</thead>
	<% @projects.each do |project| %>
	<tr>
		<td><%= link_to(project) do %>

		<%= project.name %>
		<% end %> </td>
		<td> 
			<%=  @last_updated_ticket = project.tickets.find :first, :order => 'updated_at DESC'
      			link_to @last_updated_ticket.title, edit_ticket_path(@last_updated_ticket) unless @last_updated_ticket.nil? %> 
      	</td>
		<td> <%= @last_updated_ticket.updated_at unless @last_updated_ticket.nil? %> </td>
	</tr>
	<% end %>

</table>

<% else -%>

<%= link_to 'Sign in!', new_user_session_path %>
<%= link_to 'Sign up!', new_user_registration_path %>
<% end -%>

<%= will_paginate @projects %>
